<div class="form-group">
	<div class="input-group">
		<input type="text" id="page" class="form-control input-small autodisabled" value="{{page}}" />
		<span class="input-group-btn">
			<button class="btn btn-small btn-primary go-btn autodisabled" data="">Go</button>
			<button class="btn btn-small btn-info go-btn autodisabled" data="-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<button class="btn btn-small btn-info go-btn autodisabled" data="1"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</span>
	</div>
</div>
